body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-sarif;
  background: #fcf9f9;
}

h1, h2, h3, h4, h5 {
    color: #555;
}

.center {
    text-align: center;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    max-width: 610px;
    min-width: 300px;
}

.login,
.contacts,
.sendbox {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.login {
    display: block;
    margin: 0 auto;
}

.contactList {
	margin: 0;
	padding: 20px;
	list-style: none;
}

.contact {
	font-size: 17px;
	padding: 3px 5px;
	margin: 3px 0;
	background: #fff;
	cursor: pointer;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.contact:after {
    width: 40px;
    position: absolute;
    right: 0; top: 0; bottom: 0;
    content: '';

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.selected {
	background: #c3e4c3;
}
