<div class="contacts">
    <h2>1. Select Contact(s)</h2>
    <div id="appContacts"></div>
    <h4>Contact you need is not listed? Add it!</h4>
    <form id="selectContactForm">
    	<input required type="text" name="name" placeholder="Name"/>
    	<input required type="text" name="number" placeholder="Phone Number"/>
    	<button id="save">Save</button>
    </form>
</div>
<div class="sendbox">
    <h2>2. Send Message</h2>
    <form id="sendMessageForm">
    	<textarea required name="message" placeholder="Message"></textarea>
    	<button id="send">Send</button>
    </form>
</div>
