<div id="loginBox" class="login animated bounceIn">
    <form id="loginForm">
    	<input required type="text" name="number" placeholder="Phone Number" value="" />
    	<input required type="password" name="apikey" placeholder="API Key" value="" />
    	<button id="login">Login</button>
    </form>
</div>
