<div class="login">
    <h2>Login</h2>
    <form id="loginForm">
    	<input required type="text" name="number" placeholder="Phone Number" />
    	<input required type="password" name="apikey" placeholder="API Key" />
    	<button id="login">Login</button>
    </form>
</div>
