<form id="saveContactForm">
    <input required type="text" name="name" placeholder="Name"/>
    <input required type="text" name="number" placeholder="Phone Number"/>
    <button id="save">Add</button>
</form>