<div class="contacts animated bounceInLeft">
    <h2>1. Select Contact</h2>
    <div id="appContacts"></div>
    <div id="addBox"></div>
</div>
<div class="sendbox animated bounceInRight">
    <h2>2. Send Message</h2>
    <form id="sendMessageForm">
    	<textarea required name="message" placeholder="Message"></textarea>
    	<button id="send">Send</button>
    </form>
</div>
