'use strict';

<HELPERS_SRC>

module.exports = {
    validateNumber: validateNumber,
    getSubmitData: getSubmitData,
    toggleButton: toggleButton,
    sendMessage: sendMessage,
    parseJson: parseJson
};
