$(function(){
    'use strict';

    <HELPERS_SRC>

    SendHub.hlprs = {
        validateNumber: validateNumber,
        getSubmitData: getSubmitData,
        toggleButton: toggleButton,
        sendMessage: sendMessage,
        parseJson: parseJson
    };
});